@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}
.glass {

  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(225, 255, 255, 0.5),
    rgba(225, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
}
.circle1,.circle2{
   
    background: linear-gradient(
        to right bottom,
        rgba(225, 255, 255, 0.7),
        rgba(225, 255, 255, 0.3)
      );
    height: 15rem;
    width: 15rem;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.circle1{   
    top: 5vh;
    left: 15vh
}

.circle2{
    bottom: 5vh;
    right: 15vh
}
.links{
    display: flex;
    justify-content: center;
}
ul{
    list-style-type: none;
}
ul>li{
    padding: 20px;

}
.user{
  padding: 20px;
}
.user>p{
    padding-top: 15px;
}
.profile-container{
   display: flex;
   justify-content: center;
  
  
}
img{
    width: 100px;
    height:100px;
    border-radius: 50%;
    box-shadow: 2px 4px 17px 5px rgba(0,0,0,0.41);
}
.glass{
    display: grid;
    grid-template-columns: 2.7fr 4.3fr;   
}
.contact-init{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard{
    display: grid;
    grid-template-rows: 2fr 3.8fr 2.2fr;
}
.container-btn{
    width: 80%;
    height:60%;
    background: rgba(255,255,255,0.6);
    border-radius: 2rem;
    border: 5px solid  #6cdbeb;
    box-shadow: 5px 10px 10px #6cdbeb;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
}
.contact-text>p{
    text-align: center;
    color: rgba(0,0,0,0.7)
}
.info{
    display: grid;
    grid-template-rows: 1fr 4.4fr 1.4fr;
   
}
.nav{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:rgba(42, 180, 235, 0.4);
    height: 50%;
    width: 100%;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.top-nav{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#boldP{
  text-align: center;
}
.content{
    display: flex;
    justify-content: center;
   align-items: flex-start;
   /*  background: red; */
}
#content-container{
  background-color:rgba(42, 180, 235, 0.4);  /* background:#6cdbeb; */
   max-height: 50vh;
    width: 100%;
    border: 5px solid  #6cdbeb;
    border-top:none;
    box-shadow: 5px 10px 10px #6cdbeb;
   border-radius: 20px;
   border-top-left-radius: 0px;
    border-top-right-radius: 0px;
   overflow: scroll;
   overflow-x: hidden; 
  
}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons>li{
    
    display: inline;
    width: fit-content;
    height: fit-content;
}
.social-icons{
    margin-top: 20px;
}
.icon-container{
    
    padding: 9px;
    /* border:solid rgba($color: #000000, $alpha: 0.7); */
    border-radius: 50%;
    
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba($color: #000000, $alpha: 0.1) 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

@media screen and (min-width: 1500px) {
    .container-btn{
        grid-template-columns: 2fr 2fr;
    }
    .circle1{   
        top: 5vh;
        left: 30vh
    }
    
    .circle2{
        bottom: 5vh;
        right: 30vh
    }
}